
Number 7.pdx/sfx/sevenSound.pda
.nova/Tasks/Playdate Simulator.json
add/cursor.aseprite
add/explode.aseprite
add/explode7hor.aseprite
add/explode7hor.png
add/explode7ver.aseprite
add/explode7ver.png
add/game.aseprite
add/gameover.aseprite
add/instruction.aseprite
add/itch/cover.aseprite
add/itch/cover.png
add/itch/n7_1.png
add/itch/n7_2.png
add/itch/n7_3.png
add/itch/n7_4.png
add/itch/n7_5.png
add/itch/n7_6.png
add/puzzle.aseprite
add/systemmenu.aseprite
add/title.aseprite
instrukcja.txt
n7.pdx.zip
n7.pdx/fadeModule.pdz
n7.pdx/img/cursor.pdt
n7.pdx/img/explode.pdt
n7.pdx/img/explode7hor.pdt
n7.pdx/img/explode7ver.pdt
n7.pdx/img/game.pdi
n7.pdx/img/gameover.pdi
n7.pdx/img/instruction.pdt
n7.pdx/img/puzzle.pdt
n7.pdx/img/Sasser-Slab.pft
n7.pdx/img/systemmenu.pdi
n7.pdx/img/title.pdi
n7.pdx/main.pdz
n7.pdx/pdxinfo
n7.pdx/sfx/click.pda
n7.pdx/sfx/mergeSound.pda
n7.pdx/sfx/move.pda
n7.pdx/sfx/sevenSound.pda
n7.pdx/sfx/wrongMove.pda
n7.pdx/SystemAssets/card-highlighted/1.pdi
n7.pdx/SystemAssets/card-highlighted/2.pdi
n7.pdx/SystemAssets/card-highlighted/3.pdi
n7.pdx/SystemAssets/card-highlighted/4.pdi
n7.pdx/SystemAssets/card-highlighted/animation.txt
n7.pdx/SystemAssets/card-pressed.pdi
n7.pdx/SystemAssets/card.pdi
n7.pdx/SystemAssets/launchImage.pdi
n7.sublime-project
n7.sublime-workspace
Number 7.pdx/fadeModule.pdz
Number 7.pdx/img/cursor.pdt
Number 7.pdx/img/explode.pdt
Number 7.pdx/img/explode7hor.pdt
Number 7.pdx/img/explode7ver.pdt
Number 7.pdx/img/game.pdi
Number 7.pdx/img/gameover.pdi
Number 7.pdx/img/instruction.pdt
Number 7.pdx/img/puzzle.pdt
Number 7.pdx/img/Sasser-Slab.pft
Number 7.pdx/img/systemmenu.pdi
Number 7.pdx/img/title.pdi
Number 7.pdx/main.pdz
Number 7.pdx/pdxinfo
Number 7.pdx/sfx/click.pda
Number 7.pdx/sfx/mergeSound.pda
Number 7.pdx/sfx/move.pda
Number 7.pdx/sfx/wrongMove.pda
Number 7.pdx/SystemAssets/card-highlighted/1.pdi
Number 7.pdx/SystemAssets/card-highlighted/2.pdi
Number 7.pdx/SystemAssets/card-highlighted/3.pdi
Number 7.pdx/SystemAssets/card-highlighted/4.pdi
Number 7.pdx/SystemAssets/card-highlighted/animation.txt
Number 7.pdx/SystemAssets/card-pressed.pdi
Number 7.pdx/SystemAssets/card.pdi
Number 7.pdx/SystemAssets/launchImage.pdi
source.txt
